

:root {
  --font-family: 'IBM Plex mono', monospace;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);

  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-text-color: #353430;
  --title-text-color: #ff0070;

  --link-shadow-color: var(--accent-color);
  --border-color: var(--text-color);
  --button-outline-color: rgba(53, 52, 48, 0.4);

  --page-padding: 10px;
  --section-gap: 50px;
  --cards-gap: 20px;

  --title-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }
}
